#content {
    margin: 0px auto;

    line-height: var(--line-height);
    
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    color: var(--m3-tertiary);
}